  
.ipynb_checkpoints
.DS_Store
__pycache__
*.db
*.pytest_cache

clusted_images_train.npz
clusted_images_test.npz
test_labels.npz
train_labels.npz
website_deployment/Models
website_deployment/Sample_Pictures/Demo